<footer class="cbc-footer">
  <div class="cbc-footer-inner">
    <div class="cbc-footer-col">
      <h1>{{ .Site.Params.organization.main }}</h1>
      <p>{{ .Site.Params.organization.parent }}</p>
      <a href="mailto:{{ .Site.Params.email }}"><span class="fas fa-envelope"></span>&nbsp;&nbsp;<p>{{ .Site.Params.email }}</p></a>
    </div>
    <div class="cbc-footer-col">
      {{ range .Site.Params.footer.secondcolumn }}
      {{ . | markdownify }}
      {{ end }}
    </div>
  </div>
</footer>
