<table id="refTable" class="table table-bordered table-hover table-sm">
  <tr class="header">
    <th>
      <input type="text" id="referenceInput" list="references" onkeyup="search('referenceInput', 0)" placeholder="Reference">
      <datalist id="references">
        {{ range .Site.Data.master }}
        <option value="{{ .metadata.name }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="speciesInput" list="species" onkeyup="search('speciesInput', 1)" placeholder="Species">
      <datalist id="species">
        {{ range .Site.Data.master }}
        <option value="{{ .metadata.species }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="orgInput" list="organizations" onkeyup="search('orgInput', 2)" placeholder="Organization">
      <datalist id="organizations">
        {{ range .Site.Data.master }}
        <option value="{{ upper .metadata.organization }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="levelInput" list="types" onkeyup="search('levelInput', 3)" placeholder="Component">
      <datalist id="types">
        {{ range .Site.Data.master }}
          {{ if .levels.references }}
            {{ range .levels.references }}
                <option value="{{ .component }}">
            {{ end }}
          {{ else if .level.indices }}
            {{ range .levels.indices }}
                <option value="{{ .component }}">
            {{ end }}
          {{ end }}
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" placeholder="Details">
    </th>
  </tr>
  {{ range .Site.Data.master }}
  <tr>
    <td><p>{{ .metadata.name }}</p></td>
    <td><p>{{ .metadata.species }}</p></td>
    <td><p>{{ upper .metadata.organization }}</p></td>
    {{ if .levels.references }}
      <td>{{ range .levels.references }}
              <p>{{ .component }}</p>
          {{ end }}
      </td>
    {{ else if .levels.indices }}
      <td>{{ range .levels.indices }}
              <p>{{ .component }}</p>
          {{ end }}
      </td>
    {{ end }}

      <td>
        <div class="d-flex justify-content-center">
          <button class="btn btn-warning rounded-circle" data-toggle="modal" data-target="#{{.metadata.name}}">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </td>

      <div class="modal fade" id="{{.metadata.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-warning">
              <h5 class="modal-title pb-2" id="exampleModalLongTitle">{{.metadata.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ if .levels.references }}
                {{ range .levels.references }}
                        <h6>Location:</h6>
                        <span>URSA-Stronghold: <code>/opt/browncis/refchef-references/data/</code></span>
                        <p></p>
                        <span>Oscar: <code>/gpfs/data/cbc/refchef_refs</code></span>
                        <hr>
                        <span>Component: <strong>{{ .component }}</strong></span>
                        <hr>
                        <span>UUID: </span><code>{{ .uuid }}</code>
                        <hr>
                        <span>Files:</span>
                        <ul>
                        {{ range .files }}
                        {{ if not (in . "check")}}
                        <li><code>{{ . }}</code></li>
                        {{ end }}
                        {{ end }}
                        </ul>
                    {{ end }}
              {{ else if .levels.indices }}
                {{ range .levels.indices }}
                        <h4 class="pb-4">{{ .component }}</h4>
                        <hr>
                        <span>UUID: </span><code>{{ .uuid }}</code>
                        <hr>
                        <h5>Files:</h5>
                        <ul>
                        {{ range .files }}
                        <li><code>{{ . }}</code></li>
                        {{ end }}
                        </ul>
                    {{ end }}
              {{ end }}
            </div>

          </div>
        </div>
      </div>

  </tr>
  {{ end }}
</table>
