<table id="refTable" class="table table-bordered table-hover table-sm">
  <tr class="header">
    <th>
      <input type="text" id="referenceInput" list="references" onkeyup="search('referenceInput', 0)" placeholder="Reference">
      <datalist id="references">
        {{ range .Site.Data.master }}
        <option value="{{ .metadata.name }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="speciesInput" list="species" onkeyup="search('speciesInput', 1)" placeholder="Species">
      <datalist id="species">
        {{ range .Site.Data.master }}
        <option value="{{ .metadata.species }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="orgInput" list="organizations" onkeyup="search('orgInput', 2)" placeholder="Organization">
      <datalist id="organizations">
        {{ range .Site.Data.master }}
        <option value="{{ upper .metadata.organization }}">
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="levelInput" list="types" onkeyup="search('levelInput', 3)" placeholder="Component">
      <datalist id="types">
        {{ range .Site.Data.master }}
          {{ if .levels.references }}
            {{ range .levels.references }}
                <option value="{{ .component }}">
            {{ end }}
          {{ else if .level.indices }}
            {{ range .levels.indices }}
                <option value="{{ .component }}">
            {{ end }}
          {{ end }}
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="levelInput" list="types" onkeyup="search('levelInput', 3)" placeholder="Location">
      <datalist id="types">
        {{ range .Site.Data.master }}
          {{ if .levels.references }}
            {{ range .levels.references }}
                <option value="{{ .location }}">
            {{ end }}
          {{ else if .level.indices }}
            {{ range .levels.indices }}
                <option value="{{ .location }}">
            {{ end }}
          {{ end }}
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="levelInput" list="types" onkeyup="search('levelInput', 3)" placeholder="Files">
      <datalist id="types">
        {{ range .Site.Data.master }}
          {{ if .levels.references }}
            {{ range .levels.references }}
                <option value="{{ .files }}">
            {{ end }}
          {{ else if .level.indices }}
            {{ range .levels.indices }}
                <option value="{{ .files }}">
            {{ end }}
          {{ end }}
        {{ end }}
      </datalist>
    </th>
    <th>
      <input type="text" id="levelInput" list="types" onkeyup="search('levelInput', 3)" placeholder="UUID">
      <datalist id="types">
        {{ range .Site.Data.master }}
          {{ if .levels.references }}
            {{ range .levels.references }}
                <option value="{{ .uuid }}">
            {{ end }}
          {{ else if .level.indices }}
            {{ range .levels.indices }}
                <option value="{{ .uuid }}">
            {{ end }}
          {{ end }}
        {{ end }}
      </datalist>
    </th>
  </tr>
  {{ range .Site.Data.master }}
  <tr>
    <td><p>{{ .metadata.name }}</p></td>
    <td><p>{{ .metadata.species }}</p></td>
    <td><p>{{ upper .metadata.organization }}</p></td>
    {{ if .levels.references }}
      <td>{{ range .levels.references }}
              <p>{{ .component }}</p>
          {{ end }}
      </td>
    {{ else if .levels.indices }}
      <td>{{ range .levels.indices }}
              <p>{{ .component }}</p>
          {{ end }}
      </td>
    {{ end }}
    {{ if .levels.references }}
      <td>{{ range .levels.references }}
              <p><code>{{ .location }}</code></p>
          {{ end }}
      </td>
    {{ else if .levels.indices }}
      <td>{{ range .levels.indices }}
              <p><code>{{ .location }}</code></p>
          {{ end }}
      </td>
    {{ end }}
    {{ if .levels.references }}
      <td>{{ range .levels.references }}
              <p><code>{{ .files }}</code></p>
          {{ end }}
      </td>
    {{ else if .levels.indices }}
      <td>{{ range .levels.indices }}
              <p><code>{{ .files }}</code></p>
          {{ end }}
      </td>
    {{ end }}
    {{ if .levels.references }}
      <td>{{ range .levels.references }}
              <p><code>{{ .uuid }}</code></p>
          {{ end }}
      </td>
    {{ else if .levels.indices }}
      <td>{{ range .levels.indices }}
              <p><code>{{ .uuid }}</code></p>
          {{ end }}
      </td>
    {{ end }}
  </tr>
  {{ end }}
</table>
